@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


:root {
  --white-color: #ffffff;
  --light-brown-color: #895330;
  --light-brown-color-hover: #af7c53;
  --brown-color: #371809;
  --dark-brown-color: #1d0202;
  --yellow-color: #ffdf2d;
  --footer-color: #c5b2a6;
}

*{
  margin: 0;
  box-sizing: border-box;
  /*1rem= 10px*/
  font-family: 'Roboto', sans-serif;
}

/*-------------- NAV --------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.5rem;
  padding: 0 3rem 0 0;
  background-color: var(--brown-color);
}

nav.abajo {
  background-color: var(--dark-brown-color);
  transition: all 1s;
}

nav img {
  height: 3.5rem;
  margin-left: 1rem;
}

nav div a {
  position: relative;
  margin-left: 3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
}

nav div a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--white-color);
  left: 50%;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}

nav div a:hover::after {
  width: 100%;
  left: 0;
}

/*-------------- MAIN: portada --------------*/
.main__portada {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  padding: 5rem 2rem 0;
  background-color: var(--brown-color);
}

.main__portada > img {
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
}

.main__portada--frase {
  padding-top: 2rem;
  color: var(--white-color);
  font-size: 2.8rem;
}

.main__portada--image1 {
  position: relative;
  width: 10rem;
  height: 10rem;
  left: 5rem;
  top: 4rem;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
}

.main__portada--image2 {
  position: relative;
  width: 6rem;
  height: 6rem;
  top: 20rem;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
}

/*-------------- MAIN: productos destacados --------------*/
.main__productos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 3rem 7rem;
}

.main__productos--titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__productos--titulo h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--brown-color);
}

.main__productos--titulo button {
  padding: 0.5rem 1.5rem;
  background-color: var(--light-brown-color);
  border: none;
  border-radius: 1rem;
  color: var(--white-color);
  font-size: 0.9rem;
}

.main__productos--titulo button:hover {
  background-color:var(--light-brown-color-hover);
  cursor: pointer;
}

.main__productos--productos {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 6rem; 
  grid-template-areas: 
    "producto-destacado1 producto-destacado2 producto-destacado3 producto-destacado4"; 
  margin-bottom: 1rem;
}

.main__productos--productos > div:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.main__productos--productos div img {
  width: 100%;
  height: 15rem;
  margin-bottom: 0.5rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
}

.main__productos--productos div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__productos--productos div div p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-brown-color);
}

.main__productos--productos div p {
  font-size: 1rem;
  text-align: justify
}

.star {
  color: var(--yellow-color);
}

/*-------------- MAIN: nuestro café --------------*/
.main__nuestro-cafe {
  height: 25rem; 
  margin: 3rem;
  display: flex;
  gap: 2rem;
  border-radius: 1.5rem;
}

.main__nuestro-cafe video {
  display: block;
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  box-shadow: 8px 10px 15px rgba(0,0,0,0.2);
  object-fit: cover;
}

.main__nuestro-cafe--container {
  box-shadow: 3px 3px 30px #bebebe,-3px -3px 30px var(--white-color);
  border-radius: 1rem;
}

.main__nuestro-cafe--titulo {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 1rem 1rem 0 0;
  color: var(--white-color);
  background-color: var(--dark-brown-color);
}

.main__nuestro-cafe--parrafo {
  margin: 2rem 1.5rem;
  text-align: justify;
  font-size: 1.1rem;
}

.main__nuestro-cafe--granos {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.main__nuestro-cafe--granos div img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.5);
}

.main__nuestro-cafe--granos div div {
  height: 8.2rem;
  width: 8.5rem;
  border-radius: 100%;
  border: 1px double var(--dark-brown-color);
}

.main__nuestro-cafe--granos div p {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 900;
  color: var(--dark-brown-color);
}



/* -------------- FORMULARIO: contacto.html --------------*/
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.form__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form__info--input {
  width: 20rem;
}


/* -------------- FOOTER --------------*/
footer {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;  
  font-size: 0.7rem;
  color: var(--white-color);
  background-color: var(--dark-brown-color);
}

.footer__container {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  margin-right: 3rem;
  padding: 2rem 0;
}

.footer__container img {
  width: 8rem;
  height: 5rem;
}

.footer__container--info {
  display: flex;
  flex-direction: column;
}

.footer__container--info > a,
.container__info--titulo {
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 500;
  font-size: 0.9rem;
}

.footer__container--info div div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container__info--items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--footer-color);
}

.container__info--items div span {
  font-size: 1rem;
}

.container__info--icon {
  display: flex;
  gap: 1rem;
}

.container__info--icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--light-brown-color);
  border-radius: 100%;
}

.container__info--icon a i {
  font-size: 1rem;
  color: var(--white-color);
}

.container__info--icon a:hover {
  background-color: var(--light-brown-color-hover);
  transform: translateY(-2px);
}

hr {
  height: 1px;
  border: none;
  opacity: 0.5;
  background-color: var(--footer-color);
}

footer h5,
footer > p {
  align-self: center;
  margin: 1rem 0;
  font-size: 0.7rem;
  font-weight: 400;
}
