@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap');


:root {
  --white-color: #ffffff;
  --light-brown-color: #af7c53;
  --light-brown-color-hover: #895330;
  --brown-color: #371809;
  --dark-brown-color: #1d0202;
  --yellow-color: #ffdf2d;
}

*{
  margin: 0;
  box-sizing: border-box;
  /*1rem= 10px*/
  font-family: 'Roboto', sans-serif;
}

/*-------------- NAV --------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 3.5rem;
  padding: 0 3rem 0 0;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--dark-brown-color);
}

nav img {
  height: 3.5rem;
  margin-left: 1rem;
}

nav a {
  margin-left: 3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
}

/*-------------- MAIN: portada --------------*/
.main__portada {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(55,24,9),rgba(0,0,0,0)), url(images/portada-cafe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 0 0 5rem 5rem;
}

.main__frase-portada {
  position: absolute;
  top: 8rem;
  left: 3rem;
  width: 30rem;
  color: var(--white-color);
  font-size: 2.8rem;
  font-family: 'Fira Sans', sans-serif;
}

/*-------------- MAIN: productos destacados --------------*/
.main__productos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
}

.main__productos--titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__productos--titulo h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--brown-color);
}

.main__productos--titulo button {
  padding: 0.5rem 1rem;
  background-color: var(--light-brown-color);
  border: none;
  border-radius: 0.7rem;
  color: var(--white-color);
}

.main__productos--titulo button:hover {
  background-color:var(--light-brown-color-hover);
  cursor: pointer;
}

.main__productos--productos {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 6rem; 
  grid-template-areas: 
    "producto-destacado1 producto-destacado2 producto-destacado3 producto-destacado4"; 
  margin-bottom: 1rem;
}

.main__productos--productos > div:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.main__productos--productos div img {
  width: 100%;
  height: 15rem;
  margin-bottom: 0.5rem;
  object-fit: cover;
  border-radius: 1.5rem;
  box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
}

.main__productos--productos div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__productos--productos div div p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-brown-color);
}

.main__productos--productos div p {
  font-size: 1.1rem;
  text-align: justify
}

.star {
  color: var(--yellow-color);
}

/*-------------- MAIN: nuestro café --------------*/
.main__nuestro-cafe {
  height: 25rem; 
  margin: 3rem;
  display: flex;
  gap: 2rem;
  border-radius: 1.5rem;
}

.main__nuestro-cafe video {
  display: block;
  width: 20rem;
  height: 25rem;
  border-radius: 1.5rem;
  box-shadow: 8px 10px 15px rgba(0,0,0,0.2);
  object-fit: cover;
}

.main__nuestro-cafe--container {
  box-shadow: 3px 3px 30px #bebebe,-3px -3px 30px var(--white-color);
  border-radius: 1.5rem;
}

.main__nuestro-cafe--titulo {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 1.5rem 1.5rem 0 0;
  color: var(--white-color);
  background-color: var(--dark-brown-color);
}

.main__nuestro-cafe--parrafo {
  margin: 2rem 1.5rem;
  text-align: justify;
  font-size: 1.1rem;
}

.main__nuestro-cafe--granos {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.main__nuestro-cafe--granos div img {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  box-shadow: 8px 8px 10px -3px rgba(0,0,0,0.5);
}

.main__nuestro-cafe--granos div div {
  height: 8.2rem;
  width: 8.5rem;
  border-radius: 100%;
  border: 1px double var(--dark-brown-color);
}

.main__nuestro-cafe--granos div p {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 900;
  color: var(--dark-brown-color);
}



/* -------------- FORMULARIO: contacto.html --------------*/
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.form__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form__info--input {
  width: 20rem;
}


/* -------------- FOOTER --------------*/
footer {
  display: flex;
  flex-direction: column;
  margin-top: 10rem; 
  padding-top: 2rem; 
  font-size: 0.7rem;
  color: var(--white-color);
  background-color: var(--dark-brown-color);
}

.footer__container {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  margin-right: 3rem;
}

.footer__container img {
  width: 8rem;
  height: 5rem;
}

.footer__container--info {
  display: flex;
  flex-direction: column;
}

.footer__container--info > a {
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--white-color);
}

.footer__container--info div div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container__info--titulo {
  font-size: 0.9rem;
}

.container__info--items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
}

.container__info--items div span {
  font-size: 1rem;
}

.container__info--icon {
  display: flex;
  gap: 1rem;
}

.container__info--icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-brown-color-hover);
}

.container__info--icon a i {
  font-size: 1.5rem;
  color: var(--white-color);
  padding: 0.5rem;
  width: 3rem;

}








footer h5 {
  align-self: center;
  margin: 1.6rem;
  font-size: 0.7rem;
}
